# Python
__pycache__/
*.pyc

# Environment
venv/
.env

# Model files
*.joblib
*.pkl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Docker
*.log

# MLflow artifacts (ha lokálisan lennének)
mlruns/
